<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244739075679-2teocvt28qedga6l3pp44kvmto7s3308.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244739075679-2teocvt28qedga6l3pp44kvmto7s3308</string>
	<key>API_KEY</key>
	<string>AIzaSyAuHbbNpqhP5a-b0qbGSIdE2QsUU5XKiI4</string>
	<key>GCM_SENDER_ID</key>
	<string>244739075679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KS.SundForluft</string>
	<key>PROJECT_ID</key>
	<string>sundforluft-b0999</string>
	<key>STORAGE_BUCKET</key>
	<string>sundforluft-b0999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244739075679:ios:7659455236ae73629775ea</string>
	<key>DATABASE_URL</key>
	<string>https://sundforluft-b0999.firebaseio.com</string>
</dict>
</plist>